@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap");

:root {
  --light: #EAE8FF;
  --secondary: #adb5bd;
  --dark: #000000;
  --primary-color: #000000;
  --secondary-color: #B0D7FF;
  --border: #e9ecef;
  --white: white;
  --blue: Blue;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #040a22;
}
/* Navbar */
.shadow {
  box-shadow: rgba(239, 240, 241, 0.2) 0px 8px 24px;
  transition: box-shadow 0.9s ease;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  padding: 30px;
}
.nav-title {
  font-size: 28px; 
  font-family: 'Press Start 2P', cursive; 
  color: var(--secondary-color); 
  margin-right: 50px; 
}

.collapse {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-brand {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  align-self: center;
  font-size: 32px;
}

.nav-link {
  font-size: 14px;
  margin: 0 25px; 
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: var(--white);
}


.nav-link:hover {
  color: var(--secondary-color);
}

.search-box {
  display: inline;
  border-right: 1px solid var(--secondary);
  padding-right: 12px;
  margin-right: 10px;
}

.toggle-button {
  font-size: 21px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  margin: 8px 10px;
  display: none;
}

.toggle-button:focus {
  outline: none;
}



/* Estilo del botón para alternar el tema */
.theme-toggle-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  background: transparent;
  border: none;
  color: #f5f5f5;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.theme-toggle-btn:hover {
  color: #81a2be;
}

/* Header */
.article-header {
  text-align: center;
  padding: 20px;
  
  
}

.article-header h1 {
  margin: 0;
  color: var(--secondary-color); 
}

/* Main Content */
.article-main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.article {
  padding: 20px;
}

.article-title {
  font-size: 2.5em;
  color: var(--secondary-color); 
  margin-bottom: 10px;
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.article-meta {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 20px;
}

.article-image {
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.article-content h2 {
  margin-top: 30px;
  font-size: 1.8em;
  color: var(--secondary-color); 
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 5px;
}

.article-content p {
  margin: 10px 0;
  color: white;
  font-family: "Share Tech Mono", monospace;

}

/* Estilo del Footer */
.footer {
  
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid #444; /* Línea delgada arriba para separar */
  
  margin-top: 50px; /* Espacio arriba */
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.footer-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px; /* Espaciado entre íconos */
}

.footer-icon {
  font-size: 35px; /* Tamaño grande para íconos */
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease; /* Transición suave para los efectos */
  display: inline-block;
  border-radius: 50%;
  padding: 12px;
  background-color: #444; /* Fondo oscuro para los iconos */
  box-shadow: 0 0 5px #5b37eb,
  0 0 25px #5b37eb,
  0 0 50px #f1307e,
  0 0 100px #f1307e;
}

.footer-icon:hover {
  transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
  background-color: #f1c40f; /* Cambio de color al dorado */
  color: #333; /* Cambia el color del ícono */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más grande en hover */
}

.footer-text {
  font-size: 14px;
  color: #bbb;
  margin-top: 20px;
  font-weight: 300; /* Texto más suave */
}

/* Asegura que el footer se mantenga al fondo */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}